.logo-img {
    min-width: 200px;
    width: 200px;
    margin: 0 auto;
}
.inner {
    padding: 40px 40px;
}
.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading-main {
    font-size: 40px;
    display: block;
}

.section-heading-sub {
    font-size: 12px;
}
