@use "variables";
@use "mixin";

.shop {
    background-image: url(../img/sp/bg-shop.png);
    background-position: center center;
    background-size: cover;
    padding: 90px 0;
    text-align: center;

    .shop-inner {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .section-heading-l {
        color: #fff;
    }

    .shop-text {
        color: #fff;

        font-size: 14px;
        line-height: 1.8;
    }

    .form {
        margin-top: 40px;
    }

    .form-input {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        display: block;
        background-color: rgba(255, 255, 255, 0.7);
        font-family: variables.$common-font-family;
    }

    .form-send {
        color: #fff;
        background-color: variables.$common-background-color;
        padding: 10px 35px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        font-family: variables.$common-font-family;
    }
}

@include mixin.mq("pc") {
    .shop {
        padding: 70px 0;
        background-image: url(../img/bg-shop.png);

        .shop-inner {
            max-width: 600px;
        }

        .form {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .form-send {
            padding: 15px 30px;
            margin: 0;
        }
    }
}
